@page "/about"
<h2>About Kijana Woodard</h2>

<figure class="headshot">
    <img src="images/kijana.woodard.headshot.square.jpg"
         alt="Head shot of Kijana Woodard" />
    <figcaption>Kijana Woodard - Programmer</figcaption>
</figure>

<br/>
<p>Kijana Woodard is a business focused programmer living in Dallas, TX</p>

<hr/>
<h3>Talks</h3>
<ul>
    <li><a href="https://www.devopslive.org/devops-at-gamestop/">Devops Live</a></li>
    <li><a href="https://www.youtube.com/watch?v=BruPcBDoXZw">RavenDB Conf 2014: Abstracting RavenDB - Don't Do It!</a></li>
    <li><a href="https://particular.net/nsbcon-2014">NSBCon 2014 - Advanced NServiceBus Deployment</a></li>
    <li><a href="https://particular.net/blog/nsbcon-2015-top-mistakes-using-nservicebus">NSBCon 2015 - Top Mistakes Usng NServiceBus</a></li>
</ul>

@code {
    
}