@page "/about"
<h2>About Kijana Woodard</h2>

<figure class="headshot">
    <img src="images/kijana.woodard.headshot.square.jpg"
         alt="Head shot of Kijana Woodard" />
    <figcaption>Kijana Woodard - Programmer</figcaption>
</figure>

<br/>
<p>Kijana Woodard is CEO of <a href="https://www.kaizen.io">Kaizen I/O - A Software Development Company.</a></p>
<p>Kijana graduated from Georgetown University from the School of Foreign Service in 1995.</p>
<p>He has been a software developer since 1996 and has worked in a variety of industries including finance, healthcare, construction, manufacturing, and retail. Kijana has spoken at various conferences including DevOps Live, RavenDB Conf, and NSBCon.</p>
<p>Kijana and his wife are the parents of two boys and live in the Dallas/Fort Worth area.</p>

<hr/>
<h3>Talks</h3>
<ul>
    <li><a href="https://www.devopslive.org/devops-at-gamestop/">Devops Live</a></li>
    <li><a href="https://www.youtube.com/watch?v=BruPcBDoXZw">RavenDB Conf 2014: Abstracting RavenDB - Don't Do It!</a></li>
    <li><a href="https://particular.net/nsbcon-2014">NSBCon 2014 - Advanced NServiceBus Deployment</a></li>
    <li><a href="https://particular.net/blog/nsbcon-2015-top-mistakes-using-nservicebus">NSBCon 2015 - Top Mistakes Usng NServiceBus</a></li>
</ul>

@code {
    
}