@page "/contact"
<h2>Contact</h2>

<p>Feel free to reach out to me on any of the following platforms:</p>

<ol>
    <li>
        <a href="https://www.kaizen.io">Kaizen.io</a>
    </li>
    <li>
        <a href="https://x.com/kijanawoodard">X (Twitter)</a>
    </li>
    <li>
        <a href="https://github.com/kijanawoodard">GitHub</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/kijanawoodard/">LinkedIn</a>
    </li>
</ol>

@code {
    
}