@page "/tags/{tagName}"
@page "/tags"
@using BlazorStatic
@using BlazorStatic.Services
@using System.Net
@inject BlazorStaticContentService<PostFrontMatter> blazorStaticContentService

@if (TagName == null)
{
    <div>
        @{
            var tagsWithCount = blazorStaticContentService.Posts
                .SelectMany(x => x.Tags)
                .GroupBy(x => x)
                .Select(group => new { Tag = group.Key, Count = group.Count() })
                .OrderByDescending(x => x.Count);

            foreach(var tagGroup in tagsWithCount)
            {
                <a href="@($"{blazorStaticContentService.Options.Tags.TagsPageUrl}/{tagGroup.Tag.EncodedName}")">@tagGroup.Tag.Name</a>
            }
        }
    </div>
    return;
}

<header>
    <h1>@TagName</h1>
    <p>Blog posts tagged by <span>@TagName</span></p>
</header>
<PostsList Posts="posts"/>

@code {

    [Parameter] public string? TagName { get; set; }

    List<Post<PostFrontMatter>>? posts;

    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(TagName)) return;
        posts = blazorStaticContentService.Posts.Where(x => x.FrontMatter.Tags.Contains(TagName)).ToList();
    }

}