@using System.Configuration
@model dynamic

@{
    ViewBag.Title = "About";
}

<h2>About Kijana Woodard</h2>

<figure class="headshot">
    <img src="//cdn.kijanawoodard.com/content/posts/images/kijana.woodard.headshot.square.jpg"
         alt="Head shot of Kijana Woodard"/>
    <figcaption>Kijana Woodard - Programmer</figcaption>
</figure>

<br/>
<p>Kijana Woodard is a business focused programmer living in Dallas, TX</p>

<hr/>
<h3>Talks</h3>
<ul>
    <li><a href="http://www.devopslive.org/devops-at-gamestop/">Devops Live</a></li>
</ul>