<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@ViewBag.Title | kijana woodard</title>
        <link rel="author" href="/humans.txt">
        <link rel="icon" type="image/x-icon" href="/favicon.png" />
        
        <link rel="stylesheet" type="text/css" href="/content/css/kube.min.css" /> 	
        <link rel="stylesheet" type="text/css" href="/content/css/font-awesome.css" /> 	
        <link rel="stylesheet" type="text/css" href="/content/css/site.css" /> 	
        
        <!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->		
    </head>
    <body>
        <div id="wrap">
            <header>
                <hgroup>
                    <h1><a href="/" rel="home">Kijana Woodard</a></h1>
                    <h4 class="subheader">Programming and Perceptual Dissonance</h4>
                </hgroup>
            </header>
            <hr/>
            @RenderBody()
            <footer>
                <p>&copy; Kijana Woodard</p>
            </footer>
        </div>
    </body>
</html>
