@model dynamic

@{
    ViewBag.Title = "Contact";
}

<h2>Contact Kijana Woodard</h2>

<form action="@Url.Action("Index", "Contact")" method="post" class="submit">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Contact</legend>

        <label>Name</label>
        <input type="text" name="name" placeholder="Your Name" required/>

        <label>Email</label>
        <input type="email" name="email" placeholder="Your Email Address" required/>

        <label>Message</label>
        <textarea name="text"></textarea>
    </fieldset>
    <fieldset class="special">
        <legend>This section is for robots. Humans can ignore.</legend>

        <label>Special Instructions</label>
        <input type="text" name="instructions"/>

        <label>
            <input class="recaptcha-checkbox-checkmark" type="checkbox" name="confirm" value="true" />
            I am a Robot
        </label>
    </fieldset>

    <button type="submit">Submit</button>
</form>

@*[devops]: http://www.devopslive.org/devops-at-gamestop/*@