@model Blog.Web.Actions.PostGet.PostGetViewModel
<?xml version="1.0" encoding="utf-8"?>
<post>
    <title>@Model.Post.Title</title>
    <slug>@Model.Post.Slug</slug>
    <publishedAtCst>@Model.Post.PublishedAtCst</publishedAtCst>
    <content>@Model.Content</content>
</post>