@model dynamic

@{
    ViewBag.Title = "404";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Post not found</h2>

Hmmm. The page you're looking for seems to be missing.

@{ Html.RenderAction("Index", "PostGet"); }